*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li , a {
    font-size: 16px;
    color: hsl(195, 81%, 24%);
    text-decoration: none;
    font-weight: 500;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    height: 100px;
    background-color: rgb(244, 241, 234);
}
.item-li{
    list-style: none;
}

.item-li li {
    display:inline-block ;
    padding: 0px 20px;
}
.item-li li a{
    transition: all 0.3 ease 0s;
}
