*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.searchbar
{
    display: flex;
    width: 80vw;
    justify-content: center;
   
}
.bar , .btn
{
    width: 80%;
    outline: none;
    border: 1px solid grey;
    background: #80808080;
    height: 7vh;
    border-radius: 10px;
    margin: 2vh;
    padding: 10px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 400;
}

.btn{
    width: 20% !important;
    background-color: aquamarine;
    font-size: larger;
    font-weight: 600;
}

.btn:hover
{
    cursor:pointer;
    background-color: white;
    color: aquamarine;
}
